{{- if .Values.registryCreds.dockerconfigjson }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "fullname" . }}-dockerconfigjson
  labels:
    app: {{ template "name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: |-
    {{ .Values.registryCreds.dockerconfigjson }}
{{- end }}